body{
    background-color: #f9f7fe;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    font-weight: 800;
    font-size: 36px;
    line-height: 1.5;
    color: #272044;
    text-align: center;
}

a{
    color: #885df1;
}

header{
    margin-bottom: 30px;
}

form{
    padding: 30px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 5px;
    display: flex;
}

footer{
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
}

.container{
    margin: 120px auto;
    max-width: 600px;
}

.instruction {
    padding: 16px;
    border: 1px solid rgba(39,33,66,0.5);
    width: 80%;
    font-size: 16px;
    border-radius: 40px;
    line-height: 20px;
    color: #272044;
}

.poem{
    background-color: white;
    font-size: 16px;
    line-height: 1.5;
    padding: 20px;
    border-left: 3px solid  #885df1;
}

.submit-button{
    margin-left: 10px;
    background-color: #885df1;
    color: white;
    border: none;
    width: 150px;
    font-size: 16px;
    border-radius: 40px;
    padding: 14px 24px;
}